# Copyright (c) 2023 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

service vendor.qvirtservice_rs /product/bin/vendor.qti.qvirt-service_rs
  class hal
  user root
  group root
  oneshot
  disabled
