on late-fs
    # qcom-haptics
    chmod 0666 /sys/class/qcom-haptics/lra_calibration
    chmod 0666 /sys/class/qcom-haptics/lra_impedance
    chmod 0666 /dev/qcom_haptic
    chown system system /dev/qcom_haptic

    # cal-file directory
    mkdir /mnt/vendor/persist/haptics 0755 system system

service vibratorfeature-hal-service /odm/bin/hw/vendor.xiaomi.hardware.vibratorfeature.service
    class hal
    user system
    group system input audio
    onrestart restart vibratorfeature
    setenv RICHTAP_DEVICE_PATH  /dev/qcom_haptic
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config

on property:sys.boot_completed=1
    setprop vendor.haptic.calibrate.done 1
