on  property:persist.sys.millet.cgroup1=true
    #cgroup v1 freezer sys/fs/cgroup entries
    mount tmpfs none /sys/fs/cgroup mode=0750,uid=0,gid=1000
    mkdir /sys/fs/cgroup/freezer 0750 root system
    mount cgroup none /sys/fs/cgroup/freezer freezer
    # Xiaomi: Create cgroup in freezer
    mkdir /sys/fs/cgroup/freezer/perf 0750 root system
    mkdir /sys/fs/cgroup/freezer/perf/frozen 0750 root system
    write /sys/fs/cgroup/freezer/perf/frozen/freezer.state FROZEN
    chown root system /sys/fs/cgroup/freezer/perf/frozen/cgroup.procs
    chmod 0660 /sys/fs/cgroup/freezer/perf/frozen/cgroup.procs
    chown root system /sys/fs/cgroup/freezer/perf/frozen/tasks
    chmod 0660 /sys/fs/cgroup/freezer/perf/frozen/tasks
    mkdir /sys/fs/cgroup/freezer/perf/thawed 0750 root system
    chown root system /sys/fs/cgroup/freezer/perf/thawed/cgroup.procs
    chmod 0660 /sys/fs/cgroup/freezer/perf/thawed/cgroup.procs
    chown root system /sys/fs/cgroup/freezer/perf/thawed/tasks
    chmod 0660 /sys/fs/cgroup/freezer/perf/thawed/tasks

on property:sys.boot_completed=1
    start millet_sig
    start millet_binder
    start millet_pkg
    mkdir /sys/fs/cgroup/frozen/
    chown system system /sys/fs/cgroup/frozen/cgroup.procs
    chown system system /sys/fs/cgroup/frozen/cgroup.freeze
    write /sys/fs/cgroup/frozen/cgroup.freeze 1
    mkdir /sys/fs/cgroup/unfrozen/
    chown system system /sys/fs/cgroup/unfrozen/cgroup.procs
    chown system system /sys/fs/cgroup/unfrozen/cgroup.freeze

service millet_sig /system_ext/bin/millet_monitor SIG
#    user root
#    group system
    class main
    onrestart restart millet_sig

service millet_binder /system_ext/bin/millet_monitor BINDER
#    user root
#    group system
    class main
    onrestart restart millet_binder

service millet_pkg /system_ext/bin/millet_monitor PKG
#    user root
#    group system
    class  main
    onrestart restart millet_pkg

on property:sys.millet.monitor=1
   stop millet_binder
   stop millet_pkg
   stop millet_sig
   start millet_binder
   start millet_pkg
   start millet_sig
