service wallpapercolor /system_ext/bin/wallpapercolor
    class late_start
    user system
    group system
    oneshot


on property:persist.sys.wallpapercolor=true
    start wallpapercolor
