# Dolby Vision Display Management Configuration File
# Path : odm/etc/surfaceflinger/
# Date : 10/10/2023
# Brand Model Number: Xiaomi N2 23116PN5BC


[Global]
ReferenceDarkPicModeIndex = 2
IDK_Version = SW_4.5
DMSwVersion = 4.0

Tmax = 1500
Tmin = 0.0001
TPrimaries = 0.68 0.32 0.265 0.69 0.15 0.06 0.295 0.3115
TEOTF = POWER
Tgamma = 2.6

#Ambient = 8

#BLUPwm = 16 32 48 64 96 
#BLULight = 300 630 960 1290 1500 
#BLULightMin = 0.0001 0.0001 0.0001 0.0001 0.0001

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3
DSaturation = 0.7

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3
DSaturation = 0.7

[PictureMode = 2]
PictureModeName = Dolby Vision Dark



