on boot
    mount overlay overlay product/usr lowerdir=/mnt/vendor/mi_ext/product/usr:/product/usr
    mount overlay overlay product/etc/precust_theme lowerdir=/mnt/vendor/mi_ext/product/etc/precust_theme:product/etc/precust_theme